<h1>Admin Dashboard</h1>

<ul>
    <li><a href="/Admin/Dashboard/products">Manage Products</a></li>
    <li><a href="/Admin/Dashboard/categories">Manage Categories</a></li>
    <li><a href="/Admin/Dashboard/orders">Manage Orders</a></li>
</ul>
