@model EcomPulse.Web.ViewModel.OrderVM

<h2>Order Details</h2>

<p><strong>Order ID:</strong> @Model.Id</p>
<p><strong>Total Price:</strong> @Model.Total</p>

<a href="/Admin/Dashboard/orders">Back to Orders</a>
