@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<head>

    <link rel="stylesheet" href="~/css/home.css">
</head>

<h1 style="text-align: center; height: 10vh;">@ViewData["Title"]</h1>


<p>
    Please check your email to reset your password.
</p>
